body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
    background-color: rgb(52, 52, 185);
    color: yellow;
    padding: 1px;
    text-align: center;
}
nav {
    background-color: yellow;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    padding: 10px 50px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: rgb(52, 52, 185);
    text-decoration: none;
}
section{
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(52, 52, 185);
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
div.a{
    text-align: center;
}
div.b{
    text-align: left;
}
h2{
    color: yellow;
} 
a {
    color: #fff;
    text-decoration: none;
}
ul a:hover {
    color:deepskyblue; 
}
a:hover {
    color: yellow;
}
